{{ define "main" }}
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center"></div>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page pt-4" style="height: 80vh;">
    <div class="container text-center">
        <h1 style="
            color: #ce2014;
            font-size: 10em;
            font-family: Chokokutai, sans-serif;
            display: inline-block;
            text-decoration: none;
          ">404</h1>
        <p style="
        font-size: 2em;
        color: #555;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 0;
        "> File not found!
            it seems we cannot find you are looking for..
        </p>
        <a href="https://ahonline.mmr.bz" id="our-solutions" class="btn-get-started scrollto">Return Home</a>
        <p>

        </p>
    </div>
  </section>

</main><!-- End #main -->
{{ end }}